/* GENERAL SETTINGS*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    font-family: Arial, sans-serif;
    background-color: white;
}



/* NAVIGATION BAR*/

.navbar {
    height: 68px;
    width: 100%;

    display: flex;
    align-items: center;

    padding: 0 30px;

    background-color: white;

    border-bottom: 2px solid #555;
}



/* LOGO IMAGE*/

.logo {
    width: 180px;

    display: flex;
    align-items: center;
}


.logo img {
    width: 125px;
    height: auto;

    display: block;
}



/* SEARCH BAR*/

.search-container {
    position: relative;

    width: 335px;
    height: 34px;

    margin-left: auto;
    margin-right: auto;
}


.search-container input {
    width: 100%;
    height: 100%;

    padding: 0 35px 0 12px;

    border: 1px solid #aaa;
    border-radius: 20px;

    outline: none;

    font-size: 12px;
}


.search-container input:focus {
    border-color: #555;
}


.clear-button {
    position: absolute;

    right: 10px;
    top: 50%;

    transform: translateY(-50%);

    border: none;
    background: none;

    color: #555;

    font-size: 16px;

    cursor: pointer;
}



/* RIGHT SIDE */

.nav-actions {
    display: flex;

    align-items: center;

    gap: 25px;

    width: 180px;

    justify-content: flex-end;
}



/* LOGIN BUTTON */

.login-button {
    height: 40px;

    padding: 0 18px;

    border: none;
    border-radius: 20px;

    background-color: #0757b5;
    color: white;

    font-size: 12px;

    cursor: pointer;
}


.login-button:hover {
    background-color: #064a99;
}



/* HAMBURGER MENU */

.menu-container {
    position: relative;
}


.menu-button {
    width: 30px;
    height: 30px;

    display: flex;

    flex-direction: column;

    justify-content: center;

    gap: 5px;

    border: none;

    background: transparent;

    cursor: pointer;
}


.menu-button span {
    display: block;

    width: 29px;
    height: 2px;

    background-color: #777;
}



/* MENU */

.menu {
    position: absolute;

    top: 45px;
    right: 0;

    width: 180px;

    display: none;

    flex-direction: column;

    background-color: white;

    border: 1px solid #ccc;
    border-radius: 8px;

    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);

    overflow: hidden;

    z-index: 100;
}


.menu a {
    padding: 14px 18px;

    color: #222;

    text-decoration: none;

    font-size: 14px;
}


.menu a:hover {
    background-color: #eeeeee;
}


.menu.menu-open {
    display: flex;
}

/* HERO SLIDESHOW */

* {box-sizing:border-box}

/* Slideshow container */
.slideshow-container {
    width: 100%;
    max-width: 100%;
    height: auto;
    position: relative;
    overflow: hidden;
}

/* Hide the images by default */
.mySlides {
    display: none;
    width: 100%;
    height: 100%;
}

.mySlides img {
  width: 100%;
  height: 550px;
  object-fit: contain;
  display: block;
  background-color: black;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}